body {
  background-color: rgb(222, 222, 222);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 1em;
}

#form-signin {
  /* align-items: center; */
  max-width: 400px;
}

#form-register {
  max-width: 500px;
}
.project_card:hover {
  box-shadow: 0 0 4px 2px black;
}

[class^='col-'] {
  /* border: 1px solid red; */
}

#description {
  height: 100px;
}

.ImageWidget {
  width: 100%;
  min-height: 100px;
  background-color: rgba(200, 200, 200, 0.5);
  /* object-fit: cover; */
}
